<main class="region wrapper flow" style="text-align: center; padding-block: 4rem;">
  <h1>{{ cms[coreConfig.defaultLocale].settings.siteTitle if cms[coreConfig.defaultLocale].settings }}</h1>
  <p>Wir sind gleich zurück. / We'll be right back.</p>
</main>
