<main class="static-page maintenance">
  <h1>{{ cms[coreConfig.defaultLocale].settings.siteTitle if cms[coreConfig.defaultLocale].settings }}</h1>
  <p>Wir sind gleich zurück. / We'll be right back.</p>
</main>
