{%- set _locale = page.lang or coreConfig.defaultLocale -%}
<article class="static-page user-registration-success">
  <h1>{{ 'staticPages.userRegistrationSuccess.title' | trans }}</h1>
  <p>{{ 'staticPages.userRegistrationSuccess.info' | trans }}</p>
</article>
