<meta name="theme-color" media="(prefers-color-scheme: light)" content="rgb(255, 253, 245)" />
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="rgb(51, 51, 51)" />
<meta name="color-scheme" content="light dark" />
<!-- https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href={{ '/favicon-96x96.png' | url }} sizes="96x96" />
<link rel="icon" type="image/svg+xml" href={{ '/favicon.svg' | url }} />
<link rel="shortcut icon" href={{ '/favicon.ico' | url }} />
<link rel="apple-touch-icon" sizes="180x180" href={{ '/apple-touch-icon.png' | url }} />