---
layout: base.njk
pagination:
  data: coreConfig.locales
  size: 1
  alias: _locale
  addAllPagesToCollections: false
permalink: "/{{ _locale }}/404/"
noindex: true
eleventyExcludeFromCollections: true
titleKey: staticPages.errorPage.title
---
{%- set _homeUrl = cms[_locale].homeUrl -%}
{%- include "overridable/404.njk" -%}
