---
layout: base.njk
pagination:
  data: cms.categories
  size: 1
  alias: pageDoc
permalink: "{{ pageDoc.url }}"
---
{%- set category = pageDoc -%}
{%- include "components/category/container.njk" -%}
