---
pagination:
  data: coreConfig.locales
  size: 1
  alias: _locale
  addAllPagesToCollections: false
permalink: "/{{ _locale }}/search.json"
eleventyExcludeFromCollections: true
---
{{ cms[_locale].searchIndex | dump | safe }}
