---
layout: base.njk
pagination:
  data: coreConfig.locales
  size: 1
  alias: _locale
  addAllPagesToCollections: false
permalink: "/{{ _locale }}/{{ coreConfig.userPaths[_locale].userRecover }}/"
eleventyExcludeFromCollections: true
noindex: true
pageKey: recoverUrl
---
{%- include "overridable/user-recover.njk" -%}
