---
layout: base.njk
pagination:
  data: coreConfig.locales
  size: 1
  alias: _locale
  addAllPagesToCollections: false
permalink: "/{{ _locale }}/{{ coreConfig.userPaths[_locale].userConfirm }}/"
eleventyExcludeFromCollections: true
noindex: true
---
{%- include "overridable/user-confirm.njk" -%}
