<template id="{{ cart_voucher_template_id }}">
    <li class="voucher-item" role="listitem">
      <div class="voucher-item--titles">
        <div class="voucher-item--title">
          <strong class="voucher-item--name" data-name="name"></strong>
          <code class="voucher-item--code" data-name="code"></code>
        </div>
        <span class="voucher-item--description" data-name="description"></span>
        <ul role="list" class="voucher-item--messages" data-name="messages"></ul>
        <ul role="list" class="voucher-item--free-products" data-name="free-products"></ul>
      </div>
      <div class="voucher-item--tools">
        <button class="btn no-border is-quadrate" title="{{ 'cart.ariaRemoveVoucher' | t }}" aria-label="{{ 'cart.ariaRemoveVoucher' | t }}" data-name="remove-item">
          <div aria-hidden="true">
            {% include "icons/trash.svg" %}
          </div>
        </button>
        <button class="btn no-border is-quadrate" title="{{ 'cart.ariaEnableVoucher' | t }}" aria-label="{{ 'cart.ariaEnableVoucher' | t }}" data-name="enable-item">
          <div aria-hidden="true">
            {% include "icons/bolt.svg" %}
          </div>
        </button>
        <button class="btn no-border is-quadrate" title="{{ 'cart.ariaDisableVoucher' | t }}" aria-label="{{ 'cart.ariaDisableVoucher' | t }}" data-name="disable-item">
          <div aria-hidden="true">
            {% include "icons/bolt-off.svg" %}
          </div>
        </button>
        
      </div>
    </li>
  </template>