<template id="{{ cart_item_template_id }}">
    <li class="cart-item">
      <div class="cart-item--info">
        <div class="cart-item--photo" data-name="photo">
          {% placeholderPicture {
            pictureSize: placeholders.productSmall,
            imageClassNames: "object-contain",
            loading: "lazy"
          } %}
        </div>
        <div class="cart-item--details">
          <div class="cart-item--header">
            <a class="cart-item--link" data-name="link">
              <div class="cart-item--title">
                <span class="cart-item--name"><strong data-name="name"></strong></span>
                <div class="cart-item--variant" data-name="variant"></div>
              </div>
            </a>
            {# <div class="cart-item--quantity" aria-label="{{ 'cart.ariaQuantity' | t }}">
              <span class="previous" data-name="quantity-previous"></span>
              <span class="current" data-name="quantity-current"></span>
            </div> #}
          </div>
        </div>
      </div>
      <div class="cart-item--tools">
        {%- from "partials/macros.njk" import productAddCounter -%}
        {{ productAddCounter(
          increaseQuantityTitle='cart.counter.increaseQuantity' | t,
          decreaseQuantityTitle='cart.counter.decreaseQuantity' | t,
          manuallySetQuantityTitle='cart.counter.manuallySetQuantity' | t
        ) }}
        <button class="btn no-border is-quadrate" aria-label="{{ 'cart.ariaRemoveProduct' | t }}" data-name="remove-item">
          {% include "icons/trash.svg" %}
        </button>
        <div class="cart-item--price">
          <span class="previous" data-name="price-previous"></span>
          <span class="current" data-name="price-current"></span>
        </div>
      </div>
    </li>
  </template>