{% if form %}
<div class="form-wrapper">  
  <form
    id="{{form.id}}"
    class="flex flex-col flow checkout-form"
    novalidate
  >
    {%- from "partials/macros.njk" import formField -%}
    {% for field in form.fields %}
      {{ formField(field) }}
    {% endfor %}
    {% for fieldset in form.fieldsets %}
      <div class="fieldset-separator flow">
        {% if fieldset.title %}
          <h2>{{ fieldset.title }}</h2>
        {% endif %}
        {% if fieldset.optional %}
        <div class="flex grid-gap-default items-center">
          <input
            type="checkbox"
            id="{{ fieldset.optional.group }}"
            name="{{ fieldset.optional.group }}"
            data-optional-check="true"
            data-required-state="{{ fieldset.optional.requiredState }}"
            {% if fieldset.optional.initialState %} checked{% endif %}
          >
          <label for="{{ fieldset.optional.group }}">{{ fieldset.optional.title }}</label>
        </div>
        {% endif %}
        {% if fieldset.optional %}
        <div data-optional-group-container="{{ fieldset.optional.group }}" class="flow{% if fieldset.optional.initiallyHidden %} hidden{% endif %}">
        {% endif %}
          {% for field in fieldset.fields %}
            {% if field.group %}
              <div class="grid grid-gap-default {{ field.gridClass }}">
                {% for groupField in field.fields %}
                {% if fieldset.optional %}
                  {{ formField(groupField, wrapperClass="field-wrapper col-span-1", optionalRequiredGroup=fieldset.optional.group) }}
                {% else %}
                  {{ formField(groupField, wrapperClass="field-wrapper col-span-1") }}
                {% endif %}
                {% endfor %}
              </div>
            {% else %}
              {% if fieldset.optional %}
                {{ formField(field, optionalRequiredGroup=fieldset.optional.group) }}
              {% else %}
                {{ formField(field) }}
              {% endif %}
            {% endif %}
          {% endfor %}
        {% if fieldset.optional %}
        </div>
        {% endif %}
      </div>
    {% endfor %}
    
    {% set excludeButton = form.excludeButton if form.excludeButton else false %}
    {% if not excludeButton %}
      {%- from "partials/macros.njk" import retryLoadingButton -%}
      <div class="flex flex-col items-center">
        {{ retryLoadingButton(
          buttonTitle=form.submit.text,
          buttonLoadingTitle=form.submit.loadingText,
          buttonClass="btn is-medium",
          buttonType="submit",
          buttonId=form.id+"-submit",
          initallyLoading=false
        ) }}
      </div>
    {% endif %}
  </form>
</div>

{% endif %}