<a href="#main" class="skip-link">{{ 'general.skipText' | t }}</a>
<header class="wrapper">
  <div class="flex-header">
    <div class="flex-header--left">
      <a
        aria-label="{{ 'navigation.goHome' | t }}"
        href="/{{ page.lang }}/"
        {{ helpers.getRootActiveState(page.lang, page.url) | safe }}
      >
      {% include "icons/headerLogo.svg" %}
      </a>
    </div>
    <div class="flex-header--right">
      {%- if not settings.isMaintenanceMode -%}
        {% include "partials/search.njk" %}
        {% include "partials/login.njk" %}
        {% if includeSideCart %}
          {% include "partials/side-cart.njk" %}
        {% endif %}
        {% include "partials/main-navigation.njk" %}
      {%- endif -%}
    </div>
    
  </div>
</header>