
{# logged in state #}
<div id="nav-auth-logged-in">
  <button
    id="auth-logout"
    data-toggle-sidebar="user-menu"
    type="button"
    aria-expanded="false"
    aria-controls="user-menu"
    class="btn no-border is-medium"
    aria-label="{{ 'customerCenter.title' | t }}"
  >
    {% include "icons/user-check.svg" %}
  </button>
  <div class="sidebar--backdrop" data-controls="user-menu"></div>

  <div id="user-menu" class="sidebar sidebar--small" data-no-flash>
    <div class="sidebar--inner sidebar--scrollable">
      <div class="sidebar--header">
        <span class="h2">{{ 'customerCenter.title' | t }}</span>
        <button
          data-toggle-sidebar-close="user-menu"
          type="button"
          aria-expanded="false"
          aria-controls="user-menu"
          class="btn no-border is-medium"
          aria-label="{{ 'customerCenter.ariaCloseCustomerCenter' | t }}"
        >
          {% include "icons/x.svg" %}
        </button>
      </div>
      <div class="sidebar--content flow">
        <a class="btn is-text" href="{{ static.getUserOrdersPermalink(locale) }}">{{  'customerCenter.yourOrders' | t }}</a>
        {%- from "partials/macros.njk" import retryLoadingButton -%}
        {{ retryLoadingButton(
          buttonTitle='general.logout' | t,
          buttonLoadingTitle='general.loggingOut' | t,
          buttonId='logout-button',
          initallyLoading=false
        ) }}
      </div>
    </div>
  </div>
</div>

<div id="nav-auth-logged-out">
  <button
    id="auth-login"
    data-toggle-sidebar="login"
    type="button"
    aria-expanded="false"
    aria-controls="login"
    class="btn no-border is-medium"
    aria-label="{{ 'customerCenter.title' | t }}"
  >
    {% include "icons/user-x.svg" %}
  </button>
  <div class="sidebar--backdrop" data-controls="login"></div>

  <div id="login" class="sidebar sidebar--small" data-no-flash>
    <div class="sidebar--inner sidebar--scrollable">
      <div class="sidebar--header">
        <span class="h2">{{ 'general.loginHeadline' | t }}</span>
        <button
          data-toggle-sidebar-close="login"
          type="button"
          aria-expanded="false"
          aria-controls="login"
          class="btn no-border is-medium"
          aria-label="{{ 'general.closeLogin' | t }}"
        >
          {% include "icons/x.svg" %}
        </button>
      </div>
      <div class="sidebar--content">
        {% set form = static.userLoginForms[locale] %}
        {% include "partials/form.njk" %}
        
        <div class="region flex-col-center">
          <a class="btn is-text" href="{{ static.getUserRecoverPermalink(locale) }}">{{ 'general.forgotPassword' | t }}</a>
        </div>
        <div class="flex-col-center">
          <span>{{ 'general.areYouNew' | t }}</span>
          <a class="btn is-text" href="{{ static.getUserRegistrationPermalink(locale) }}">{{ 'general.register' | t }}</a>
        </div>
      </div>
    </div>
  </div>
  
</div>


<script>{% getBundle "js", "user-state" %}
</script>
{%- js "user-state" %} 
{% include "scripts/inline/user.ts" %}
{% endjs %}