{% macro retryLoadingButton(
    buttonTitle,
    buttonLoadingTitle,
    buttonClass="btn is-medium",
    buttonType="button",
    buttonId="retry-button",
    initallyLoading=true,
    resolveButtonTitle=null) %}
  <div class="flex flex-col items-center flow" id="{{ buttonId }}-container">
    <button
      type="{{ buttonType }}"
      class="{{ buttonClass }}"
      id="{{ buttonId }}"
      {% if initallyLoading %}data-loading="true" disabled{% endif %}
    >
      <span data-text>{{ buttonTitle }}</span>
      <span data-text-loading aria-live="assertive" aria-atomic="true"><span class="spinner"></span>{{ buttonLoadingTitle }}</span>
    </button>
    {% if resolveButtonTitle %}
      <button id="resolve-button" class="btn is-large hidden">{{ resolveButtonTitle }}</button>
    {% endif %}
  </div>
{% endmacro %}

{% macro addProductToCartButton(product, title="Add to cart", titleAdded="Added to cart", pictureSize) %}
  {% set imagedata %}
  {%- replaceableImageUrl product.images[0], pictureSize -%}
  {% endset %}
  <button
    type="button"
    data-id="{{product._id}}"
    data-name="add-to-cart"
    class="btn is-large is-block"
    data-type="{{product.type}}"
    data-title="{{product.title}}"
    data-stock="{{product.stock}}"
    data-price="{{product.price}}"
    data-parent="{% if product.parentId %}{{ product.parentId }}{% endif %}"
    data-image="{% if imagedata %}{{ imagedata }}{% endif %}"
    data-variant="{% if product.optionsString %}{{ product.optionsString }}{% endif %}"
    data-path="{{ product.permalink }}"
    data-bundle-items="{% if product.itemsJson %}{{ product.itemsJson }}{% endif %}"
    data-add-to-cart="{{ title }}"
    data-added-to-cart="{{ titleAdded }}"
    aria-busy="true"
    disabled
  >{{ title }}</button>
{% endmacro %}

{% macro productAddCounter(
  productId="",
  increaseQuantityTitle="Increase quantity by one",
  decreaseQuantityTitle="Decrease quantity by one",
  manuallySetQuantityTitle="Manually enter quantity") %}
  <div class="counter">
    <button
      aria-label="{{ decreaseQuantityTitle }}"
      class="btn icon-small"
      data-name="product-counter-down"
      data-product-id="{{ productId }}"
      data-is-sidecart-item="false"
    >
      {% include "icons/minus.svg" %}
    </button>
    <div class="counter--amount">
      <div class="counter--input">
        <input
          data-name="product-counter-input"
          data-product-id="{{ productId }}"
          data-is-sidecart-item="false"
          aria-label="{{ manuallySetQuantityTitle }}"
          type="number"
          inputmode="numeric"
          min="1"
          value="1"
        >
      </div>
    </div>
    <button
      aria-label="{{ increaseQuantityTitle }}"
      class="btn icon-small"
      data-name="product-counter-up"
      data-product-id="{{ productId }}"
      data-is-sidecart-item="false"
    >
      {% include "icons/plus.svg" %}
    </button>
  </div>
{% endmacro %}

{% macro formField(field, wrapperClass="field-wrapper", optionalRequiredGroup=null) %}
  {% set inputFirst = true if field.inputFirst else false %}
  {% set inline = true if field.inline else false %}
  {% set hasDescription = true if field.description and field.description != field.label else false %}
    <div class="{{ wrapperClass }} {% if inline %}flex grid-gap-default items-center{% endif %}">
      {% set label %}
        <label for="{{field.id}}">{{field.label}}{% if field.required %}<span class="field-star" aria-hidden="true">*</span>{% endif %}</label>
      {% endset %}
      {% if not inputFirst %}
        {{ label | safe }}
      {% endif %}
      {% if field.type !== "select" %}
        <input
          id="{{field.id}}"
          type="{{field.type}}"
          name="{{field.name}}"
          {% if field.value %}value="{{field.value}}"{% endif %}
          data-has-description="{{hasDescription}}"
          {% if hasDescription %}aria-describedby="{{field.id}}-descr"{% endif %}
          {% if field.pattern %}data-pattern="{{field.pattern}}"{% endif %}
          {% if field.min %}min="{{field.min}}"{% endif %}
          {% if field.max %}max="{{field.max}}"{% endif %}
          {% if field.autocapitalize %}autocapitalize="{{field.autocapitalize}}"{% endif %}
          {% if field.autocomplete %}autocomplete="{{field.autocomplete}}"{% endif %}
          {% if field.autocorrect %}autocorrect="{{field.autocorrect}}"{% endif %}
          {% if field.spellcheck %}spellcheck="{{field.spellcheck}}"{% endif %}
          {% if field.required %}required{% endif %}
          {% if field.checked %}checked{% endif %}
          {% if optionalRequiredGroup %}data-optional-required-group="{{optionalRequiredGroup}}"{% endif %}
          {% if field.errorMessage %}data-error-message="{{field.errorMessage}}"{% endif %}
          {% if field.validationChecklist %}data-validation-checklist="true"{% endif %}
        >
      {% else %}
        <select
          id="{{field.id}}"
          name="{{field.name}}"
          {% if field.required %}required{% endif %}
          {% if optionalRequiredGroup %}data-optional-required-group="{{optionalRequiredGroup}}"{% endif %}
          {% if field.errorMessage %}data-error-message="{{field.errorMessage}}"{% endif %}
        >
        </select>
      {% endif %}
      {% if inputFirst %}
        {{ label | safe }}
      {% endif %}
      {% if field.required %}
        <p role="alert" aria-live="polite" aria-atomic="true" id="{{field.id}}-error" class="field-error"></p>
      {% endif %}
      {% if hasDescription %}
        <p id="{{field.id}}-descr">{{field.description}}</p>
      {% elif field.validationChecklist %}
        <ul aria-hidden="true" id="{{field.id}}-validation-checklist" class="form-validation-checklist" role="list">
        {% for listItem in field.validationChecklist %}
          <li data-checked="false" data-regex="{{listItem.regex}}" data-name="{{listItem.name}}">
            <span></span>{{listItem.title}}
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
{% endmacro %}