{% if modules and modules.length %}
    
{% for module in modules %}
  {% if module._type == "hero" %}
    {% include 'components/hero.njk' %}
  {% elif module._type == "multiColumns" %}
    {% include 'components/multi-columns.njk' %}
  {% elif module._type == "youtube" %}
    {% include 'components/youtube.njk' %}
  {% elif module._type == "productSection" %}
    {% include 'components/product-section.njk' %}
  {% elif module._type == "categorySection" %}
    {% include 'components/category-section.njk' %}
  {% elif module._type == "carousel" %}
    {% include 'components/carousel.njk' %}
  {% endif %}
{% endfor %}

{% endif %}