<template id="order-item-template">
  <div class="order-item">
    <div>
      <div>
        <div><strong>{{ 'orders.orderNumber' | t }}</strong></div>
        <div data-name="order-number"></div>
      </div>
      <div>
        <div><strong>{{ 'orders.orderDate' | t }}</strong></div>
        <div data-name="date"></div>
      </div>
      <div>
        <div><strong>{{ 'orders.orderStatus' | t }}</strong></div>
        <div data-name="status"></div>
      </div>
    </div>
    <h3>{{ 'orders.detailsHeader' | t }}</h3>
    <div class="order-card">
      <ul role="list" data-name="product-list"></ul>
      <div>
        <div class="checkout--sub-summary">
          <span>{{ 'cart.subtotal' | t }}</span>
          <span data-name="subtotal"></span>
        </div>
        <div class="checkout--sub-summary">
          <div><span>{{ 'cart.shipping' | t }}</span>&nbsp;<span data-name="shipping-title"></span></div>
          <span data-name="shipping"></span>
        </div>
        <div class="checkout--sub-summary hidden">
          <span>{{ 'cart.tax' | t }}</span>
          <span data-name="tax"></span>
        </div>
        <div class="checkout--sub-summary">
          <span>{{ 'cart.discount' | t }}</span>
          <span data-name="discount"></span>
        </div>
        <div class="checkout--sub-summary">
          <strong>{{ 'cart.total' | t }}</strong>
          <strong data-name="total"></strong>
        </div>
      </div>
    </div>
  </div>
</template>