{% set loading = ('lazy' if not loading else loading) %}

{% html "schemas" %}
{% set schema = cms.schema.getProductSchema(product) %}
{% include "partials/schema.njk" %}
{% endhtml %}

<a class="product-card--image-link" href="{{ product.permalink }}" aria-hidden="true">
  {% if product.images.length %}
    {% productPicture {
      image: product.images[0],
      pictureSize: placeholders.productCard,
      fallbackAlt: product.title,
      imageClassNames: "fade-in object-contain",
      loading: loading
    } %}
  {% else %}
    {% placeholderPicture {
      pictureSize: placeholders.productCard,
      imageClassNames: "fade-in",
      loading: "eager"
    } %}
  {% endif %}
</a>
<a class="product-card--text-link" href="{{ product.permalink }}">
  <h3>{{ product.title }}</h3>
</a>
{% if product.type | isBundleProduct %}
  <ul>
    {% for item in product.items %}
      {% set bundleItemProduct = cms.getProduct(item.productId, locale) -%}
      <li>{{ item.count }} x {{bundleItemProduct.title}}</li>
    {% endfor %}
  </ul>
{% endif %}
<div class="product-card--price flex flex-col flex-wrap">
  <div class="cart-item--price">
    <span class="previous">
    {% if product.compareAtPriceString %}
      {{ product.compareAtPriceString }}
    {% endif %}
    </span>
    <span class="current">
      <span class="price--current">
        {{ product.priceString }}
      </span>
    </span>
  </div>
  {%- from "partials/macros.njk" import addProductToCartButton -%}
    {{ addProductToCartButton(product=product,
      title='product.cartButton.addToCartShort' | t,
      titleAdded='product.cartButton.addedToCartShort' | t,
      pictureSize=placeholders.productSmall
    ) }}
</div>