{% if productLoopItems and productLoopItems.length %}
<article class="region">
  <div class="wrapper">
    {% if productLoopHeading %}
    <h2 class="product-loop--heading">{{ productLoopHeading }}</h2>
    {% endif %}
    {% include "partials/product-loop-raw.njk" %}
  </div>  
</article>



{# <is-land
  on:media="(min-width: 8em)"
  import="/assets/scripts/hydrated/masonry.js"
></is-land> #}
{% endif %}