
<button
  id="search-button"
  data-toggle-search="search"
  type="button"
  aria-expanded="false"
  aria-controls="search"
  class="btn no-border is-medium"
  aria-label="{{ 'navigation.toggleSearchAria' | t }}"
>
  {% include "icons/search.svg" %}
</button>
<div id="search" class="search" role="dialog" aria-modal="true" data-no-flash>
  <div class="search--outer" data-name="search-outer"></div>
  <div class="search--inner">
    <div class="search-box">
      <div class="search--loader" data-name="search-loader" data-loading="true"></div>
      <div class="search-box--controls">
        <input type="text" data-name="search-input" placeholder="{{ 'search.inputPlaceholder' | t }}" />
        <div id="search-live-region" class="sr-only" aria-live="polite" aria-atomic="true"></div>
        <button
          id="search-close"
          type="button"
          class="btn is-quadrate"
          aria-label="{{ 'search.closeSearchAria' | t }}"
        >
        {% include "icons/x.svg" %}
        </button>
      </div>
      <div class="search--error" data-name="search-error" data-has-error="false">
        <p></p>
        <button
          type="button"
          class="btn"
          aria-label="{{ 'search.retrySearchAria' | t }}"
        >{{ 'general.retry' | t }}</button>
      </div>
      <div id="search-results" class="search-results">
        <div id="results-products" data-has-results="false">
          <h3 class="search-results--header">{{ 'search.products' | t }}</h3>
          <ul id="search-results-list-products" role="list"></ul>
        </div>
        <div id="results-categories" data-has-results="false">
          <h3 class="search-results--header">{{ 'search.categories' | t }}</h3>
          <ul id="search-results-list-categories" role="list"></ul>
        </div>
        <template id="search-item-template">
          <li class="search-item">
            <div class="search-item--photo" data-name="photo">
              {% placeholderPicture {
                pictureSize: placeholders.productXS,
                imageClassNames: "object-contain",
                loading: "lazy"
              } %}
            </div>
            <div class="search-item--details">
              <a href="#" class="search-item--title" data-name="result-item-title"></a>
              <span class="search-item--type" data-name="result-item-type"></span> 
            </div>
          </li>
        </template>
      </div>
    </div>
  </div>
</div>
<div class="search--backdrop"></div>