<div class="flex region justify-center text-center hidden" id="service-error">
  <div class="info-box info-box--info flow">
    {% include "icons/exclamation-circle.svg" %}
    <h3>{{ 'general.serviceError.title' | t }}</h3>
    <p aria-live="assertive" aria-atomic="true"></p>
    {# <div class="flex flex-col">
      <strong>Request ID:</strong>
      <span id="service-error-request-id"></span>
    </div> #}
    <a href="mailto:{{ settings.supportEmail }}?subject={{ 'general.serviceError.title' | t | encodeText }}&body=RequestId:" class="btn is-medium">
      {{ 'general.serviceError.contactSupport' | t }}
    </a>
  </div>
</div>

{# <div class="error-box" id="service-error">
  
  <p>
    We're unable to complete your request due to a technical issue. Please try again later.
  </p>
  <p>
    If the problem persists, contact our support team with the request ID below.
  </p>
  <div class="request-id">
    <strong>Request ID:</strong> REQ-987654
  </div>
  <button onclick="sendSupportEmail('REQ-987654')">Email Shop Owner</button>
</div> #}