<div class="flex" id="settings-nav">
  <ul
    id="languagenav"
    class="language-select-nav"
    role="listbox"
    aria-label="{{ 'menus.language.select' | t }}"
  >
    {% for language in settings.languages %} {% if loop.first %} {% endif %} {% set
    translatedUrl = "/" + language.code + "/" %} {% set langClass = "lang-" +
    language.code %} {% set selectedState = "true" if language.code == page.lang else
    "false" %}

    {% for item in collections.all %} {% if item.data.key == key and item.data.page.lang ==
    language.code %} {% set translatedUrl = item.url %} {% endif %} {% endfor %}
    <li>
      <a
        id="lang-{{ language.code }}"
        href="{{ translatedUrl }}"
        rel="alternate"
        hreflang="{{ language.code }}"
        style="--offset: {{ loop.index+0.5 }}"
        aria-selected="{{ selectedState }}"
        role="option"
      >
        <span lang="{{ language.code }}"> {{ language.long }}</span>
      </a>
    </li>
    {% if loop.last %} {% endif %} {% endfor %}
  </ul>
</div>