
<button
  data-toggle-sidebar="sidecart"
  type="button"
  aria-expanded="false"
  aria-controls="sidecart"
  class="btn no-border is-medium"
  aria-label="{{ 'cart.open' | t }}"
>
  {% include "icons/shopping-cart.svg" %}
</button>
<div class="sidebar--backdrop" data-controls="sidecart"></div>

<div id="sidecart" data-side-cart class="sidebar" data-no-flash>
  <div class="sidebar--inner">
    <div class="sidebar--header">
      <span class="h2">{{ 'cart.cart' | t }}</span>
      <button
        data-toggle-sidebar-close="sidecart"
        type="button"
        aria-expanded="false"
        aria-controls="sidecart"
        class="btn no-border is-medium"
        aria-label="{{ 'cart.close' | t }}"
      >
        {% include "icons/x.svg" %}
      </button>
    </div>
    <div class="cart--content sidebar--scrollable">
      <div class="column-box-with-icon" id="side-cart-empty">
        {% include "icons/shopping-cart-off.svg" %}
        <p>{{ 'cart.empty' | t }}</p>
      </div>
      <ul id="cart-product-list" class="cart--product-list" role="list"></ul>
    </div>
    <div class="cart--footer">
      <div class="cart--sub-summary">
        <strong>{{ 'cart.subtotal' | t }}</strong>
        <strong class="cart--subtotal-price"></strong>
      </div>
      <a class="btn is-primary is-large is-block" href="{{ static.getCheckoutPermalink(locale) }}">{{ 'cart.toCheckout' | t }}</a>
    </div>
  </div>
</div>

{% set cart_item_template_id = 'cart-item-template' %}
{% include "partials/cart-item-template.njk" %}