<section class="category" data-category-id="{{ category._id }}">

  {% block category_header %}
    <header class="category-header">
      {% if category.image %}
        <figure class="category-image">
          {% image category.image, imageSizes.content, { loading: "eager" } %}
        </figure>
      {% endif %}
      <h1 class="category-title">{{ category.title }}</h1>
      {% if category.description %}
        <p class="category-description">{{ category.description }}</p>
      {% endif %}
    </header>
  {% endblock %}

  {% block category_products %}
    {%- set categoryProducts = cms[category.locale].products | filterByCategory(category._id) -%}
    {% if categoryProducts.length %}
      <div class="category-products">
        {% for product in categoryProducts %}
          {% include "components/product/card.njk" %}
        {% endfor %}
      </div>
    {% endif %}
  {% endblock %}

</section>
