---
includeSideCart: true
---
<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <title>grgr</title>
  <meta name="description" content="asdf">
</head>

<body>
  {% include "components/header.njk" %}

  <main>
    {{ content | safe }}
  </main>

  {% include "components/footer.njk" %}
</body>
</html>
