---
eleventyExcludeFromCollections: true
excludeFromSitemap: true
pagination:
  data: cms.sitemaps
  size: 1
  alias: sitemap
  addAllPagesToCollections: false
permalink: "{{ sitemap.permalink }}"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for entry in sitemap.entries %}
  <url>
    <loc>{{ entry.url }}</loc>
    {%- if entry.lastmod %}
    <lastmod>{{ entry.lastmod | toIsoString }}</lastmod>
    {%- endif %}
    {%- for alt in entry.alternates %}
    <xhtml:link rel="alternate" hreflang="{{ alt.locale }}" href="{{ alt.url }}"/>
    {%- endfor %}
    {%- if entry.alternates.length > 1 %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ entry.alternates[0].url }}"/>
    {%- endif %}
  </url>
  {%- endfor %}
</urlset>
