{%- set _locale = page.lang or coreConfig.defaultLocale -%}
<article class="static-page user-reset-success">
  {% block page_header %}<h1>{{ 'staticPages.userResetSuccess.title' | trans }}</h1>{% endblock %}
  {% block page_info %}<p>{{ 'staticPages.userResetSuccess.info' | trans }}</p>{% endblock %}
  <a href="/{{ _locale }}/{{ coreConfig.userPaths[_locale].userLogin }}/" class="btn">
    {{ 'staticPages.userLogin.title' | trans }}
  </a>
</article>
