{%- set _locale = page.lang or coreConfig.defaultLocale -%}
<article class="static-page user-confirm">
  <h1>{{ 'staticPages.userConfirm.title' | trans }}</h1>

  <div data-user-confirm
    data-api="/api/user/confirm"
    data-locale="{{ _locale }}"
    data-recover-url="/{{ _locale }}/{{ coreConfig.userPaths[_locale].userRecover }}/"
    data-register-url="/{{ _locale }}/{{ coreConfig.userPaths[_locale].userRegistration }}/"
  >
    <button type="button" class="btn" data-user-confirm-submit>
      <span data-submit-text>{{ 'forms.userConfirm.submit.text' | trans }}</span>
      <span data-submit-loading hidden>{{ 'forms.userConfirm.submit.loadingText' | trans }}</span>
    </button>

    <div data-confirm-error class="user-form__error" role="alert" hidden>
      <p data-confirm-error-message></p>
      <a href="/{{ _locale }}/{{ coreConfig.userPaths[_locale].userRecover }}/" class="btn">
        {{ 'staticPages.userRecover.title' | trans }}
      </a>
    </div>
  </div>
</article>
