{%- set _locale = page.lang or coreConfig.defaultLocale -%}
<article class="static-page user-confirm-success">
  {% block page_header %}<h1>{{ 'staticPages.userConfirmSuccess.title' | trans }}</h1>{% endblock %}
  {% block page_info %}<p>{{ 'staticPages.userConfirmSuccess.info' | trans }}</p>{% endblock %}
  {% block page_content %}{% endblock %}
</article>
