{%- set _locale = page.lang or coreConfig.defaultLocale -%}
<article class="static-page user-recover-success">
  {% block page_header %}<h1>{{ 'staticPages.userRecoverSuccess.title' | trans }}</h1>{% endblock %}
  {% block page_info %}<p>{{ 'staticPages.userRecoverSuccess.info' | trans }}</p>{% endblock %}
</article>
