---
permalink: /_redirects
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
https://shop.ffmh.at/*   https://www.ffmh.at   301!
{% if settings.isMaintenanceMode -%}
/*    /maintenance    302!
{% else %}
{%- for locale in settings.supportedLocales -%}
/    /{{ locale }}    302!{% if locale == settings.defaultLocale %} Language={{ locale }}{% endif %}
{% endfor %}
{%- for locale in settings.supportedLocales -%}
/{{ locale }}*    /{{ locale }}/404    404
{% endfor %}
{%- for locale in settings.supportedLocales -%}
/*    /{{ locale }}/404    404{% if locale == settings.defaultLocale %} Language={{ locale }}{% endif %}
{% endfor %}
{% endif %}