{% set fontHrefs = [
    "/assets/fonts/outfit/outfit-v5-latin-regular.woff2",
    "/assets/fonts/outfit/outfit-v5-latin-700-webfont.woff2"
  ]
-%}
<!-- font preloads -->
{% for fontHref in fontHrefs -%}
  {% set preload = {
      rel: "preload",
      href: fontHref,
      as: "font",
      type: "font/woff2",
      crossorigin: true
    }
  -%}
  {% include "head/preload.njk" %}
{%- endfor -%}

<!-- other preloads -->
{% getBundle "html", "preloads" %}