---
layout: base_simple.njk
pagination:
  data: "cms.products"
  size: 1
  alias: "product"
permalink: "{{ product.slug | slugify }}/"
---
<div>
  <span>core:pages:preview:index.njk</span>

  {% from "macros/macro.njk" import bla %}
  {{ bla(product.images) }}
</div>
