---
permalink: /
---
<!doctype html>
<html lang="de">
  <head>
    <!-- 1 charset/http-equiv/viewport -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css">

    <title>howdy</title>
  </head>
  <body>
    <span>{{ "hello world" | slugify }}</span>
    {% include "components/bla.njk" %}

    <div class="p-4">
          <button class="btn btn-primary">sdf</button>
          <button class="btn btn-secondary">secondary</button>
          <button class="btn btn-accent">accent</button>
          <button
  class="inline-block cursor-pointer rounded-md bg-gray-800 px-4 py-3 text-center text-sm font-semibold uppercase text-white transition duration-200 ease-in-out hover:bg-gray-900">
  Button
</button>
<input type="checkbox" value="synthwave" class="toggle theme-controller" />
        </div>
  </body>
</html>
