---
layout: base
pagination:
  data: cms.paginationPages
  size: 1
  alias: item
  addAllPagesToCollections: true
permalink: "{{ item.permalink }}"
includeSideCart: false
eleventyComputed:
  key: "{{ item._id }}"
  locale: "{{ item.locale }}"
  title: "{{ item.title | safe }}"
  metaTitle: "{{ item.metaTitle | safe }}"
  metaDescription: "{{ item.metaDescription | safe }}"
  shareTitle: "{{ item.shareTitle | safe }}"
  shareDescription: "{{ item.shareDescription | safe }}"
  shareImage: "{{ item.shareImage | safe }}"
  shareImageAlt: "{{ item.shareImageAlt | safe }}"
  metaKeywords: "{{ item.seoKeywords | safe }}"
---
{# {% extends "layouts/base.njk" %} #}

<h1>{{ item.title }}</h1>
{# {% block product_title %}
  <h1>{{ product.title }}</h1>
{% endblock %} #}

