{% extends "layouts/base.njk" %}

{% block content %}
  {% block product_section %}
    <section class="product">
      {% block product_title %}{% endblock %}

      {% block product_card %}
        {% include "components/product-card.njk" %}
      {% endblock %}
    </section>
  {% endblock %}
{% endblock %}