{%- set _locale = page.lang or coreConfig.defaultLocale -%}
<article class="region wrapper flow">
  <h1>{{ 'staticPages.userRegistration.title' | trans }}</h1>
  <p>{{ 'staticPages.userRegistration.info' | trans }}</p>
  <div id="register" data-user-register></div>
</article>
