<!doctype html>
<html lang="{{ product.locale or page.lang or defaultLocale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block styles %}
      <link rel="stylesheet" href="/styles/index.css" />
    {% endblock %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block main %}
      {{ content | safe }}
    {% endblock %}
    {% block scripts %}{% endblock %}
    {% if isPreview %}
      {% include "core/partials/visual-editing.njk" %}
    {% endif %}
  </body>
</html>
