<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include "overridable/head/seo.njk" %}
    {%- if not coreConfig.preview.enabled -%}{% include "core/head/schemas.njk" %}{%- endif -%}
    {% include "core/head/preloads.njk" %}
    {% include "core/head/css.njk" %}
    {% include "core/head/favicons.njk" %}
    {%- include "core/head/js-inline.njk" -%}
    {% include "overridable/head/extras.njk" %}
  </head>

  <body>
    <a href="#main" class="skip-link">{{ 'skipLink.title' | trans }}</a>
    {% include "core/partials/dev-nav.njk" %}
    {%- include "overridable/header.njk" -%}

    <main id="main">
      {{ content | safe }}
    </main>

    {%- include "overridable/footer.njk" -%}
    {%- if coreConfig.features.shop.checkout -%}{%- include "overridable/cart.njk" -%}{%- endif -%}

    {%- getBundle "html", "externalJS" -%}
    <script src="/assets/scripts/index.js" type="module"></script>

    {% if coreConfig.preview.enabled %}
      {% include "core/partials/visual-editing.njk" %}
    {% endif %}
  </body>
</html>
