<section class="region wrapper"{% createDataSanity item._id, item._type, "modules[_key==\"" ~ module._key ~ "\"]" %}>
    <div
        class="carousel carousel-landscape"
        data-content-carousel
        data-autoplay="{{ module.autoplay }}"
        data-autoplay-delay="{{ module.autoplayDelay }}"
        data-loop="{{ module.loop }}"
        data-fade="{{ module.fade }}"
    >
        <div class="embla--container">
        {% set slideClass = "embla--slide-full" %}
        {% for slide in module.slides %}
            <div class="{{ slideClass }}">
            {% if slide._type == "localeImage" %}
                {% sanityPicture {
                    image: slide,
                    fallbackAlt: slide.title,
                    pictureSize: placeholders.fullscreen,
                    imageClassNames: "fade-in",
                    loading: "lazy"
                } %}
            {% endif %}
            </div>
        {% endfor %}
        </div>
        <div class="embla--controls">
            <button class="embla--controls-prev" aria-label="Zurück">{% include "icons/chevron-left.svg" %}</button> 
            <button class="embla--controls-next" aria-label="Weiter">{% include "icons/chevron-right.svg" %}</button>
        </div>
    </div>
</section>