{% from 'components/macros.njk' import stegaTag %}

<section class="region wrapper" style="--region-space-top: var(--space-2xl);--region-space-bottom: var(--space-2xl);"{% createDataSanity item._id, item._type, "modules[_key==\"" ~ module._key ~ "\"]" %}>
{% if item.isHome %}
{% set classNames = "product-loop--heading text-center h1 mb-2xl" %}
{% else %}
{% set classNames = "product-loop--heading text-center" %}
{% endif %}
{% if module.headline %}
    {{ stegaTag("h2", content=module.headline, classNames=classNames) }}
{% endif %}

{% set categoryLoopItems = cms.getSubCategoryIds(module.categoryId) %}
{% if categoryLoopItems.length > 0 %}
    {% set imageLoadingEagerIndexEnd = 4 %}
    {% include "partials/category-loop.njk" %}
{% endif %}
</section>