{% from 'components/macros.njk' import stegaTag %}

<section class="region relative" {% if module.backgroundImage %}style="color: var(--color-light)"{% endif %}>
    {% set numCols = module.columns.length %}
    <div class="multi-column {% if numCols == 1 %}multi-column--single{% endif %}"{% createDataSanity item._id, item._type, "modules[_key==\"" ~ module._key ~ "\"]" %}>
    {% if numCols > 1 %}<div class="breakout flow">{% endif %}
    
    {% if module.headline %}
        {% if loop.index0 == 0 %}
        {{ stegaTag("h1", content=module.headline) }}
        {% else %}
        {{ stegaTag("h2", content=module.headline, classNames="text-center") }}
        {% endif %}
    {% endif %}
    
    <div class="grid grid-gap-default grid-cols-{{ numCols }}">
        {% for column in module.columns %}
        <div class="col-span-{{ numCols }} sm:col-span-1 flow"{% createDataSanity item._id, item._type, "modules[_key==\"" ~ module._key ~ "\"].columns[_key==\"" ~ column._key ~ "\"]" %}>
            {% if column._type == "localeComplexPortable" %}
            {{ column.data | portableTextToHTML({id: item._id, type: item._type, title: item.title, module_key: module._key, module_type: module._type, column_key: column._key}, locale, cms.getReferenceMaps) | safe }}
            {% elif column._type == "youtube" %}
            {% youtube column, locale=locale %}
            {% endif %}
        </div>
        {% endfor %}
    </div>

    {% if numCols > 1 %}</div>{% endif %}
    </div>
    {% if module.backgroundImage %}
    <div class="bg-image">
        {% sanityPicture {
            image: module.backgroundImage,
            pictureSize: placeholders.fullscreen,
            imageClassNames: "fade-in",
            loading: "lazy"
        } %}
    </div>
    {% endif %}
</section>