<div class="embla" data-product-carousel>
  <div class="embla__viewport">
    <div class="embla__container">
      {% if product.images.length == 0 %}
        <div class="embla__slide">
          {% placeholderPicture {
            pictureSize: placeholders.productDetail,
            imageClassNames: "fade-in",
            loading: "eager"
          } %}
        </div>
      {% else %}
        {% for image in product.images %}
        <div class="embla__slide">
          {% set loading = ('eager' if loop.index0 === 0 else 'lazy') %}
          {% productPicture {
            image: image,
            pictureSize: placeholders.productDetail,
            fallbackAlt: product.title,
            imageClassNames: "fade-in",
            loading: loading
          } %}
        </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% if product.images.length > 1 %}
  <div class="embla-thumbs">
    <div class="embla-thumbs__viewport">
      <div class="embla-thumbs__container">
        {% if product.images.length == 0 %}
          <div class="embla-thumbs__slide embla-thumbs__slide--selected">
            <button type="button" class="embla-thumbs__slide__number">
              {% placeholderPicture {
                pictureSize: placeholders.productSmall,
                imageClassNames: "fade-in",
                loading: "eager"
              } %}
            </button>
          </div>
        {% else %}
          {% for image in product.images %}
            <div class="embla-thumbs__slide {% if loop.index0 === 0 %} embla-thumbs__slide--selected {% endif %}">
              <button type="button" class="embla-thumbs__slide__number">
                {% set loading = ('eager' if loop.index0 < 4 else 'lazy') %}
                {% productPicture {
                  image: image,
                  pictureSize: placeholders.productSmall,
                  fallbackAlt: product.title,
                  imageClassNames: "fade-in",
                  loading: loading
                } %}
              </button>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>