<section class="region wrapper" {% createDataSanity item._id, item._type, "modules[_key==\"" ~ module._key ~ "\"]" %}>
    {% youtube module, posterQuality="maxresdefault", locale=locale %}
</section>