---
pagination:
  data: cms.supportedLocales
  size: 1
  alias: locale
permalink: "/product_search_{{ locale }}.json"
eleventyComputed:
  locale: '{{ locale }}'
eleventyExcludeFromCollections: true
excludeFromSitemap: true
---
{{ cms.getSearchData(locale) | safe }}