---
eleventyExcludeFromCollections: true
excludeFromSitemap: true
pagination:
  data: cms.sitemaps
  size: 1
  alias: sitemap
  addAllPagesToCollections: false
permalink: "{{ sitemap.permalink }}"
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
  {%- for item in sitemap.data %}
    <url>
      <loc>{{ settings.toAbsoluteUrl(item.permalink) }}</loc>
      <lastmod>{{ item._updatedAt | toIsoString }}</lastmod>
      {% for link in item.permalink | locale_links -%}
      <xhtml:link rel="alternate" hreflang="{{ settings.defaultLocale }}" href="{{ settings.toAbsoluteUrl(item.permalink) }}"/>
      <xhtml:link rel="alternate" hreflang="{{link.lang}}" href="{{ settings.toAbsoluteUrl(link.url) }}"/>
      <xhtml:link rel="alternate" hreflang="x-default" href="{{ settings.toAbsoluteUrl(item.permalink) }}"/>
      {%- endfor %}
    </url>
  {%- endfor %}
</urlset>
