<article class="page" data-page-id="{{ pageDoc._id }}">

  {% block page_header %}
    <header class="page-header">
      <h1 class="page-title">{{ pageDoc.title }}</h1>
    </header>
  {% endblock %}

  {% block page_modules %}
    {%- set _locale = pageDoc.locale -%}
    {%- set modules = pageDoc.modules -%}
    {% include "components/partials/modules.njk" %}
  {% endblock %}

</article>
