<div class="hero">
  {% if module.bgImage %}
    <figure class="hero-image">
      <img src="{{ module.bgImage | imageUrl(1600) }}" alt="{{ module.bgImage.alt }}" loading="eager" />
    </figure>
  {% endif %}
  {% if module.title %}
    <h2 class="hero-heading">{{ module.title | localize(_locale, defaultLocale) }}</h2>
  {% endif %}
</div>
