<div class="hero">
  {% if module.image %}
    <figure class="hero-image">
      <img
        src="{{ module.image.url }}"
        alt="{{ module.image.alt }}"
        loading="eager"
      />
    </figure>
  {% endif %}
  {% if module.heading %}
    <h2 class="hero-heading">{{ module.heading | localize(_locale, defaultLocale) }}</h2>
  {% endif %}
  {% if module.subheading %}
    <p class="hero-subheading">{{ module.subheading | localize(_locale, defaultLocale) }}</p>
  {% endif %}
</div>
