{%- set listProducts = cms[_locale].products -%}
{%- set filterGroups = cms[_locale].filterGroups | filterGroupsForProducts(listProducts) -%}
{%- set activeFilterKeys = module.filters if module.filters.length else cms[_locale].shopSettings.filters -%}
<div class="product-list" data-product-list>
  {% if module.title %}
    <h2 class="product-list__title">{{ module.title }}</h2>
  {% endif %}
  {% if activeFilterKeys.length %}
    {% include "overridable/partials/product-filters.njk" %}
  {% endif %}
  {% if listProducts.length %}
    <div class="product-list__grid">
      {% for product in listProducts %}
        <div
          class="product-list__item"
          data-filter-item
          data-filter-attrs="{{ product.filterAttributes | dump }}"
          data-filter-price="{{ product.price }}"
        >
          {% include "overridable/product/card.njk" %}
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>
