{% block product_title %}
<div class="product-title">
  <h1>{{ product.slug }}</h1>
</div>
{% endblock %}

{% block product_description %}
<div class="product-description">
  <span>product description</span>
</div>
{% endblock %}